In [2]:
import numpy as np
import pandas as pd
import matplotlib.cm as cm
from matplotlib import pyplot as plt

In [4]:
data_train = pd.read_csv("C:\\Users\\abhit\\OneDrive\\Desktop\\Youtube adviw\\train.csv")
print(data_train)

           vidid  adview    views likes dislikes comment   published duration  \
0      VID_18655      40  1031602  8523      363    1095  2016-09-14  PT7M37S
1      VID_14135       2     1707    56        2       6  2016-10-01  PT9M30S
2       VID_2187       1     2023    25        0       2  2016-07-02  PT2M16S
3      VID_23096       6   620860   777      161     153  2016-07-27  PT4M22S
4      VID_10175       1      666     1        0       0  2016-06-29    PT31S
...          ...     ...      ...   ...      ...     ...         ...      ...
14994     VID_31       2   525949  1137       83      86  2015-05-18  PT6M10S
14995   VID_5861       1   665673  3849      156     569  2015-10-20  PT3M56S
14996    VID_805       4     3479    16        1       1  2013-08-23  PT3M13S
14997  VID_19843       1      963     0        0       0  2010-10-02    PT26S
14998   VID_8534       1    15212    22        5       4  2016-02-19   PT1M1S

      category
0            F
1            D
2            C
3            H
4            D
...        ...
14994        A
14995        D
14996        B
14997        G
14998        D

[14999 rows x 9 columns]

In [5]:
data_train.head()

,vidid,adview,views,likes,dislikes,comment,published,duration,category
0,VID_18655,40,1031602,8523,363,1095,2016-09-14,PT7M37S,F
1,VID_14135,2,1707,56,2,6,2016-10-01,PT9M30S,D
2,VID_2187,1,2023,25,0,2,2016-07-02,PT2M16S,C
3,VID_23096,6,620860,777,161,153,2016-07-27,PT4M22S,H
4,VID_10175,1,666,1,0,0,2016-06-29,PT31S,D

In [6]:
data_train.shape

(14999, 9)

In [7]:
data_train.dtypes

vidid        object
adview        int64
views        object
likes        object
dislikes     object
comment      object
published    object
duration     object
category     object
dtype: object

In [8]:
category = {'A':1,'B':2,'C':3,'D':4,'E':5,'F':6,'G':7,'H':8}
data_train["category"] = data_train["category"].map(category)
data_train.head()

,vidid,adview,views,likes,dislikes,comment,published,duration,category
0,VID_18655,40,1031602,8523,363,1095,2016-09-14,PT7M37S,6
1,VID_14135,2,1707,56,2,6,2016-10-01,PT9M30S,4
2,VID_2187,1,2023,25,0,2,2016-07-02,PT2M16S,3
3,VID_23096,6,620860,777,161,153,2016-07-27,PT4M22S,8
4,VID_10175,1,666,1,0,0,2016-06-29,PT31S,4

In [9]:
data_train=data_train[data_train.views != 'F']
data_train=data_train[data_train.likes != 'F']
data_train=data_train[data_train.dislikes != 'F']
data_train=data_train[data_train.comment != 'F']

In [10]:
data_train["views"]=pd.to_numeric(data_train["views"])
data_train["comment"]=pd.to_numeric(data_train["comment"])
data_train["likes"]=pd.to_numeric(data_train["likes"])
data_train["dislikes"]=pd.to_numeric(data_train["dislikes"])
data_train["adview"]=pd.to_numeric(data_train["adview"])

In [25]:
column_vidid = data_train["vidid"]

In [26]:
from sklearn.preprocessing import LabelEncoder

In [27]:
data_train["duration"]=LabelEncoder().fit_transform(data_train["duration"])
data_train['published']=LabelEncoder().fit_transform(data_train['published'])
data_train['vidid']=LabelEncoder().fit_transform(data_train['vidid'])

In [28]:
data_train.head()

,vidid,adview,views,likes,dislikes,comment,published,duration,category
0,5912,40,1031602,8523,363,1095,2168,2925,6
1,2741,2,1707,56,2,6,2185,3040,4
2,8138,1,2023,25,0,2,2094,1863,3
3,9005,6,620860,777,161,153,2119,2546,8
4,122,1,666,1,0,0,2091,1963,4

In [29]:
import datetime
import time

In [30]:
def checki(x):
    y = x[2:]
    h = ''
    m = ''
    s = ''
    mm = ''
    P = ['H','M','S']
    for i in y:
        if i not in P:
            mm+=i
        else:
            if(i=="H"):
                h = mm
                mm = ''
            elif(i == "M"):
                m = mm
                mm = ''
            else:
                s = mm
                mm = ''
    if(h==''):
        h = '00'
    if(m == ''):
        m = '00'
    if(s==''):
        s='00'
    bp = h+':'+m+':'+s
    return bp

In [31]:
mp = pd.read_csv("C:\\Users\\abhit\\OneDrive\\Desktop\\Youtube adviw\\train.csv")["duration"]
time = mp.apply(checki)

In [32]:
def func_sec(time_string):
    h, m, s = time_string.split(':')
    return int(h) * 3600 + int(m) * 60 + int(s)

time1=time.apply(func_sec)
data_train["duration"]=time1
data_train.head()

,vidid,adview,views,likes,dislikes,comment,published,duration,category
0,5912,40,1031602,8523,363,1095,2168,457,6
1,2741,2,1707,56,2,6,2185,570,4
2,8138,1,2023,25,0,2,2094,136,3
3,9005,6,620860,777,161,153,2119,262,8
4,122,1,666,1,0,0,2091,31,4

In [33]:
# Split Data
Y_train = pd.DataFrame(data = data_train.iloc[:, 1].values, columns = ['target'])
data_train=data_train.drop(["adview"],axis=1)
data_train=data_train.drop(["vidid"],axis=1)
data_train.head()

     views  likes  dislikes  comment  published  duration  category
0  1031602   8523       363     1095       2168       457         6
1     1707     56         2        6       2185       570         4
2     2023     25         0        2       2094       136         3
3   620860    777       161      153       2119       262         8
4      666      1         0        0       2091        31         4

In [34]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data_train, Y_train, test_size=0.2, random_state=42)
X_train.shape

(11709, 7)

In [35]:
# Normalise Data
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.fit_transform(X_test)
X_train.mean()

0.17395410595763316

In [36]:
# Evaluation Metrics
from sklearn import metrics
def print_error(X_test, y_test, model_name):
    prediction = model_name.predict(X_test)
    print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, prediction))
    print('Mean Squared Error:', metrics.mean_squared_error(y_test, prediction))
    print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, prediction)))

In [37]:
# Linear Regression
from sklearn import linear_model
linear_regression = linear_model.LinearRegression()
linear_regression.fit(X_train, y_train)
print_error(X_test,y_test, linear_regression)

Mean Absolute Error: 5288.059212091741
Mean Squared Error: 10881114821.641329
Root Mean Squared Error: 104312.58227865577

In [38]:
# Support Vector Regressor
from sklearn.svm import SVR
supportvector_regressor = SVR()
supportvector_regressor.fit(X_train,y_train)
print_error(X_test,y_test, linear_regression)

c:\Users\abhit\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\utils\validation.py:1183: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Mean Absolute Error: 5288.059212091741
Mean Squared Error: 10881114821.641329
Root Mean Squared Error: 104312.58227865577

In [39]:
# Decision Tree Regressor
from sklearn.tree import DecisionTreeRegressor
decision_tree = DecisionTreeRegressor()
decision_tree.fit(X_train, y_train)
print_error(X_test,y_test, decision_tree)

Mean Absolute Error: 5229.304644808743
Mean Squared Error: 12047889994.924181
Root Mean Squared Error: 109762.88076997697

In [40]:
# Random Forest Regressor
from sklearn.ensemble import RandomForestRegressor
n_estimators = 200
max_depth = 25
min_samples_split=15
min_samples_leaf=2
random_forest = RandomForestRegressor(n_estimators = n_estimators, max_depth = max_depth, min_samples_split=min_samples_split)
random_forest.fit(X_train,y_train)
print_error(X_test,y_test, random_forest)

c:\Users\abhit\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

Mean Absolute Error: 5165.028078379492
Mean Squared Error: 10458260518.42883
Root Mean Squared Error: 102265.63703624414

In [41]:
# Artificial Neural Network
import keras
from keras.layers import Dense
ann = keras.models.Sequential([Dense(6, activation="relu",input_shape=X_train.shape[1:]),Dense(6,activation="relu"),Dense(1)])
optimizer=keras.optimizers.Adam()
loss=keras.losses.mean_squared_error
ann.compile(optimizer=optimizer,loss=loss,metrics=["mean_squared_error"])

WARNING:tensorflow:From c:\Users\abhit\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [42]:
history=ann.fit(X_train,y_train,epochs=100)
ann.summary()
print_error(X_test,y_test,ann)

Epoch 1/100
WARNING:tensorflow:From c:\Users\abhit\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\abhit\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

366/366 [==============================] - 3s 3ms/step - loss: 767618880.0000 - mean_squared_error: 767618880.0000
Epoch 2/100
366/366 [==============================] - 1s 2ms/step - loss: 767614784.0000 - mean_squared_error: 767614784.0000
Epoch 3/100
366/366 [==============================] - 1s 3ms/step - loss: 767606784.0000 - mean_squared_error: 767606784.0000
Epoch 4/100
366/366 [==============================] - 1s 2ms/step - loss: 767594624.0000 - mean_squared_error: 767594624.0000
Epoch 5/100
366/366 [==============================] - 1s 3ms/step - loss: 767570496.0000 - mean_squared_error: 767570496.0000
Epoch 6/100
366/366 [==============================] - 1s 2ms/step - loss: 767536576.0000 - mean_squared_error: 767536576.0000
Epoch 7/100
366/366 [==============================] - 1s 2ms/step - loss: 767490048.0000 - mean_squared_error: 767490048.0000
Epoch 8/100
366/366 [==============================] - 1s 2ms/step - loss: 767432768.0000 - mean_squared_error: 767432768.0000
Epoch 9/100
366/366 [==============================] - 1s 2ms/step - loss: 767366976.0000 - mean_squared_error: 767366976.0000
Epoch 10/100
366/366 [==============================] - 1s 2ms/step - loss: 767290432.0000 - mean_squared_error: 767290432.0000
Epoch 11/100
366/366 [==============================] - 1s 2ms/step - loss: 767203904.0000 - mean_squared_error: 767203904.0000
Epoch 12/100
366/366 [==============================] - 1s 2ms/step - loss: 767105856.0000 - mean_squared_error: 767105856.0000
Epoch 13/100
366/366 [==============================] - 1s 2ms/step - loss: 767002496.0000 - mean_squared_error: 767002496.0000
Epoch 14/100
366/366 [==============================] - 1s 2ms/step - loss: 766890880.0000 - mean_squared_error: 766890880.0000
Epoch 15/100
366/366 [==============================] - 1s 2ms/step - loss: 766773696.0000 - mean_squared_error: 766773696.0000
Epoch 16/100
366/366 [==============================] - 1s 2ms/step - loss: 766647744.0000 - mean_squared_error: 766647744.0000
Epoch 17/100
366/366 [==============================] - 1s 2ms/step - loss: 766517760.0000 - mean_squared_error: 766517760.0000
Epoch 18/100
366/366 [==============================] - 1s 2ms/step - loss: 766397312.0000 - mean_squared_error: 766397312.0000
Epoch 19/100
366/366 [==============================] - 1s 2ms/step - loss: 766273152.0000 - mean_squared_error: 766273152.0000
Epoch 20/100
366/366 [==============================] - 1s 3ms/step - loss: 766145216.0000 - mean_squared_error: 766145216.0000
Epoch 21/100
366/366 [==============================] - 1s 3ms/step - loss: 766011840.0000 - mean_squared_error: 766011840.0000
Epoch 22/100
366/366 [==============================] - 1s 2ms/step - loss: 765883328.0000 - mean_squared_error: 765883328.0000
Epoch 23/100
366/366 [==============================] - 1s 2ms/step - loss: 765758976.0000 - mean_squared_error: 765758976.0000
Epoch 24/100
366/366 [==============================] - 1s 2ms/step - loss: 765638528.0000 - mean_squared_error: 765638528.0000
Epoch 25/100
366/366 [==============================] - 1s 2ms/step - loss: 765521280.0000 - mean_squared_error: 765521280.0000
Epoch 26/100
366/366 [==============================] - 1s 3ms/step - loss: 765408192.0000 - mean_squared_error: 765408192.0000
Epoch 27/100
366/366 [==============================] - 1s 2ms/step - loss: 765298368.0000 - mean_squared_error: 765298368.0000
Epoch 28/100
366/366 [==============================] - 1s 2ms/step - loss: 765199680.0000 - mean_squared_error: 765199680.0000
Epoch 29/100
366/366 [==============================] - 1s 2ms/step - loss: 765106816.0000 - mean_squared_error: 765106816.0000
Epoch 30/100
366/366 [==============================] - 1s 2ms/step - loss: 765017216.0000 - mean_squared_error: 765017216.0000
Epoch 31/100
366/366 [==============================] - 1s 3ms/step - loss: 764931968.0000 - mean_squared_error: 764931968.0000
Epoch 32/100
366/366 [==============================] - 1s 3ms/step - loss: 764852608.0000 - mean_squared_error: 764852608.0000
Epoch 33/100
366/366 [==============================] - 1s 2ms/step - loss: 764774592.0000 - mean_squared_error: 764774592.0000
Epoch 34/100
366/366 [==============================] - 1s 2ms/step - loss: 764705792.0000 - mean_squared_error: 764705792.0000
Epoch 35/100
366/366 [==============================] - 1s 2ms/step - loss: 764640448.0000 - mean_squared_error: 764640448.0000
Epoch 36/100
366/366 [==============================] - 1s 2ms/step - loss: 764579072.0000 - mean_squared_error: 764579072.0000
Epoch 37/100
366/366 [==============================] - 1s 2ms/step - loss: 764523136.0000 - mean_squared_error: 764523136.0000
Epoch 38/100
366/366 [==============================] - 1s 2ms/step - loss: 764470272.0000 - mean_squared_error: 764470272.0000
Epoch 39/100
366/366 [==============================] - 1s 2ms/step - loss: 764420800.0000 - mean_squared_error: 764420800.0000
Epoch 40/100
366/366 [==============================] - 1s 2ms/step - loss: 764376064.0000 - mean_squared_error: 764376064.0000
Epoch 41/100
366/366 [==============================] - 1s 2ms/step - loss: 764334976.0000 - mean_squared_error: 764334976.0000
Epoch 42/100
366/366 [==============================] - 1s 2ms/step - loss: 764295424.0000 - mean_squared_error: 764295424.0000
Epoch 43/100
366/366 [==============================] - 1s 2ms/step - loss: 764257216.0000 - mean_squared_error: 764257216.0000
Epoch 44/100
366/366 [==============================] - 1s 2ms/step - loss: 764221504.0000 - mean_squared_error: 764221504.0000
Epoch 45/100
366/366 [==============================] - 1s 2ms/step - loss: 764185536.0000 - mean_squared_error: 764185536.0000
Epoch 46/100
366/366 [==============================] - 1s 3ms/step - loss: 764154368.0000 - mean_squared_error: 764154368.0000
Epoch 47/100
366/366 [==============================] - 1s 3ms/step - loss: 764124416.0000 - mean_squared_error: 764124416.0000
Epoch 48/100
366/366 [==============================] - 1s 2ms/step - loss: 764095040.0000 - mean_squared_error: 764095040.0000
Epoch 49/100
366/366 [==============================] - 1s 2ms/step - loss: 764069120.0000 - mean_squared_error: 764069120.0000
Epoch 50/100
366/366 [==============================] - 1s 2ms/step - loss: 764041856.0000 - mean_squared_error: 764041856.0000
Epoch 51/100
366/366 [==============================] - 1s 2ms/step - loss: 764016640.0000 - mean_squared_error: 764016640.0000
Epoch 52/100
366/366 [==============================] - 1s 2ms/step - loss: 763989504.0000 - mean_squared_error: 763989504.0000
Epoch 53/100
366/366 [==============================] - 1s 2ms/step - loss: 763968064.0000 - mean_squared_error: 763968064.0000
Epoch 54/100
366/366 [==============================] - 1s 2ms/step - loss: 763947584.0000 - mean_squared_error: 763947584.0000
Epoch 55/100
366/366 [==============================] - 1s 3ms/step - loss: 763921792.0000 - mean_squared_error: 763921792.0000
Epoch 56/100
366/366 [==============================] - 1s 3ms/step - loss: 763901568.0000 - mean_squared_error: 763901568.0000
Epoch 57/100
366/366 [==============================] - 1s 3ms/step - loss: 763877120.0000 - mean_squared_error: 763877120.0000
Epoch 58/100
366/366 [==============================] - 1s 3ms/step - loss: 763853696.0000 - mean_squared_error: 763853696.0000
Epoch 59/100
366/366 [==============================] - 1s 3ms/step - loss: 763832512.0000 - mean_squared_error: 763832512.0000
Epoch 60/100
366/366 [==============================] - 1s 3ms/step - loss: 763813696.0000 - mean_squared_error: 763813696.0000
Epoch 61/100
366/366 [==============================] - 1s 3ms/step - loss: 763793280.0000 - mean_squared_error: 763793280.0000
Epoch 62/100
366/366 [==============================] - 1s 3ms/step - loss: 763770624.0000 - mean_squared_error: 763770624.0000
Epoch 63/100
366/366 [==============================] - 1s 3ms/step - loss: 763752448.0000 - mean_squared_error: 763752448.0000
Epoch 64/100
366/366 [==============================] - 1s 3ms/step - loss: 763732800.0000 - mean_squared_error: 763732800.0000
Epoch 65/100
366/366 [==============================] - 1s 3ms/step - loss: 763711360.0000 - mean_squared_error: 763711360.0000
Epoch 66/100
366/366 [==============================] - 1s 3ms/step - loss: 763690752.0000 - mean_squared_error: 763690752.0000
Epoch 67/100
366/366 [==============================] - 1s 3ms/step - loss: 763674368.0000 - mean_squared_error: 763674368.0000
Epoch 68/100
366/366 [==============================] - 1s 3ms/step - loss: 763651136.0000 - mean_squared_error: 763651136.0000
Epoch 69/100
366/366 [==============================] - 1s 3ms/step - loss: 763635008.0000 - mean_squared_error: 763635008.0000
Epoch 70/100
366/366 [==============================] - 1s 3ms/step - loss: 763614720.0000 - mean_squared_error: 763614720.0000
Epoch 71/100
366/366 [==============================] - 1s 3ms/step - loss: 763596992.0000 - mean_squared_error: 763596992.0000
Epoch 72/100
366/366 [==============================] - 1s 3ms/step - loss: 763575040.0000 - mean_squared_error: 763575040.0000
Epoch 73/100
366/366 [==============================] - 1s 3ms/step - loss: 763556480.0000 - mean_squared_error: 763556480.0000
Epoch 74/100
366/366 [==============================] - 1s 3ms/step - loss: 763536000.0000 - mean_squared_error: 763536000.0000
Epoch 75/100
366/366 [==============================] - 1s 3ms/step - loss: 763516928.0000 - mean_squared_error: 763516928.0000
Epoch 76/100
366/366 [==============================] - 1s 3ms/step - loss: 763495168.0000 - mean_squared_error: 763495168.0000
Epoch 77/100
366/366 [==============================] - 1s 3ms/step - loss: 763477312.0000 - mean_squared_error: 763477312.0000
Epoch 78/100
366/366 [==============================] - 1s 3ms/step - loss: 763459264.0000 - mean_squared_error: 763459264.0000
Epoch 79/100
366/366 [==============================] - 1s 2ms/step - loss: 763437952.0000 - mean_squared_error: 763437952.0000
Epoch 80/100
366/366 [==============================] - 1s 2ms/step - loss: 763414656.0000 - mean_squared_error: 763414656.0000
Epoch 81/100
366/366 [==============================] - 1s 2ms/step - loss: 763398976.0000 - mean_squared_error: 763398976.0000
Epoch 82/100
366/366 [==============================] - 1s 2ms/step - loss: 763379456.0000 - mean_squared_error: 763379456.0000
Epoch 83/100
366/366 [==============================] - 1s 2ms/step - loss: 763360896.0000 - mean_squared_error: 763360896.0000
Epoch 84/100
366/366 [==============================] - 1s 2ms/step - loss: 763337728.0000 - mean_squared_error: 763337728.0000
Epoch 85/100
366/366 [==============================] - 1s 2ms/step - loss: 763317824.0000 - mean_squared_error: 763317824.0000
Epoch 86/100
366/366 [==============================] - 1s 2ms/step - loss: 763301568.0000 - mean_squared_error: 763301568.0000
Epoch 87/100
366/366 [==============================] - 1s 2ms/step - loss: 763279872.0000 - mean_squared_error: 763279872.0000
Epoch 88/100
366/366 [==============================] - 1s 3ms/step - loss: 763264128.0000 - mean_squared_error: 763264128.0000
Epoch 89/100
366/366 [==============================] - 1s 4ms/step - loss: 763240384.0000 - mean_squared_error: 763240384.0000
Epoch 90/100
366/366 [==============================] - 1s 3ms/step - loss: 763225216.0000 - mean_squared_error: 763225216.0000
Epoch 91/100
366/366 [==============================] - 1s 2ms/step - loss: 763205440.0000 - mean_squared_error: 763205440.0000
Epoch 92/100
366/366 [==============================] - 1s 2ms/step - loss: 763189440.0000 - mean_squared_error: 763189440.0000
Epoch 93/100
366/366 [==============================] - 1s 2ms/step - loss: 763167296.0000 - mean_squared_error: 763167296.0000
Epoch 94/100
366/366 [==============================] - 1s 2ms/step - loss: 763146880.0000 - mean_squared_error: 763146880.0000
Epoch 95/100
366/366 [==============================] - 1s 2ms/step - loss: 763128448.0000 - mean_squared_error: 763128448.0000
Epoch 96/100
366/366 [==============================] - 1s 2ms/step - loss: 763111168.0000 - mean_squared_error: 763111168.0000
Epoch 97/100
366/366 [==============================] - 1s 2ms/step - loss: 763088320.0000 - mean_squared_error: 763088320.0000
Epoch 98/100
366/366 [==============================] - 1s 3ms/step - loss: 763068416.0000 - mean_squared_error: 763068416.0000
Epoch 99/100
366/366 [==============================] - 1s 2ms/step - loss: 763055424.0000 - mean_squared_error: 763055424.0000
Epoch 100/100
366/366 [==============================] - 1s 2ms/step - loss: 763034368.0000 - mean_squared_error: 763034368.0000
Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 6)                 48

 dense_1 (Dense)             (None, 6)                 42

 dense_2 (Dense)             (None, 1)                 7

=================================================================
Total params: 97 (388.00 Byte)
Trainable params: 97 (388.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________
92/92 [==============================] - 0s 2ms/step
Mean Absolute Error: 4992.676764369174
Mean Squared Error: 10885689306.996403
Root Mean Squared Error: 104334.50678944336

In [45]:
#Saving Scikitlearn models
import joblib
joblib.dump(decision_tree, "decisiontree_youtubeadview.pkl")
# Saving Keras Artificial Neural Network model
ann.save("ann_youtubeadview.h5")

c:\Users\abhit\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(